<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body background="../static/imagens/fundo.png">
    <nav class="logo">
        <img src="../static/imagens/logo.png" alt="logo">
    

        <span class="link">
            <a href="/">Home</a> |
            <a href="/quemsomos">Quem Somos</a> |
            <a href="/contato">Contato</a>
        </span>
        
    </nav>

    <main>
        <div>
            <img class="capa" src="../static/imagens/capa.png" alt="capa">

        </div>


        <div class="texto">
            <h2>Sobre a Universidade</h2>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." 
            </p>

        </div>
    </main>

    <footer>
        <h3>Todos os direitos reservados!</h3>
        
    </footer>

</body>

</html>