<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Somos</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body background="../static/imagens/fundo2.png">
    <nav class="logo">
        <img src="../static/imagens/logo.png" alt="logo">

            
        <span class="link">
            <a href="/">Home</a> |
            <a href="/quemsomos">Quem Somos</a> |
            <a href="/contato">Contato</a>
            
            </span>

        
            <h2>Quem Somos</h2>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
            </p>
        

        <h2> 5 motivos para estudar</h2>

        <ol>
            <li>Material Sempre Atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores Renomados</li>
            <li>Universidade bem Avaliada</li>
            <li>Ótima Localização</li>
        </ol>

        <hr>

        <h2>Objetivos</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>


        <footer>
            <h3>Todos os direitos reservados!</h3>
        </footer>


</body>

</html>